@model FormsAndBindings.Models.Human

@{
    ViewData["Title"] = "Index";
}

<h1>Human Info</h1>

@ViewData["humanInfo"]

<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Attr" asp-action="Details" asp-route-id="1">View Details</a>



